{% extends "auth/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
  



{% for photo in photos %}
<div class="tab-content">
    <div id="home" class="container-fluid tab-pane active "><br>
        <div class="row justify-content-center">
            <div class="">
                <div class="card mx-auto custom-card" id="prova" style="width: 600px;">
                    <div class="row post-header col-12 py-2 px-3">
                       <div class="col-1 float-left"><img src="{{photo.image.url}}" class="rounded-circle z-depth-0" style="width: 50px; height: 50px;"></div> 
                        <div class="col-3 float-left" ><h3>My first post</h3></div>
                        <div class="col-5 float-left"><h3></h3></div>
                        <div class="col-3 float-right text-right"><a href="">Go to Post</a></div>
                    </div>
                    <img class="card-img" src="{{photo.image.url}}" alt="Card image cap" >
                    <div class="card-body px-3">
                        <h5 class="card-title"></h5>
                        
                        <p class="card-text text-left">{{ photo.description}}</p>
                    </div>
                     <div class="row post-header px-3 pb-3">
                        <div class="col-1 float-left text-left"><i class="far fa-heart"></i></i></div>
                        <div class="col-1 float-left text-left"><i class="far fa-comment"></i></i></div>
                        <div class="col-4 float-left text-left"><input type="text" autocapitalize="none" placeholder="add comment" value="" class="form-control" name="query"></div>
                        <div class="col-5 float-left text-left"><i class=""></i></i></div>
                        <div class="col-1 float-right text-right"><i class="mr-3 fa fa-bookmark" ></i></div>
                    
{% endblock content %}