{% extends "auth/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

{% for photo in photos %}
<div class="tab-content">
    <div id="home" class="container-fluid tab-pane active "><br>
        <div class="row justify-content-center">
            <div class="">
                <div class="card mx-auto custom-card" id="prova" style="width: 600px;">
                    <div class="row post-header col-12 py-2 px-3">
                       <div class="col-1 float-left"><img src="{{ user.profile.avatar.url }}" class="rounded-circle z-depth-0" style="width: 50px; height: 50px;"></div> 
                        <div class="col-3 float-left ml-3" ><h3>{{user.username}}</h3></div>
                        <div class="col-4 float-left"><h3></h3></div>
                    </div>
                    <a href="{% url 'photo' photo.id %}"><img class="card-img" src="{{photo.image.url}}" alt="Card image cap" ></a>
                    <div class="card-body px-3">
                        <h5 class="card-title"></h5>
                        
                        <p class="card-text text-left">{{ photo.description}}</p>
                    </div>
                     <div class="row post-header px-3 pb-3">
                        <div class="col-1 float-left text-left"><i class="far fa-heart"></i></i></div>
                        <div class="col-1 float-left text-left"><i class="far fa-comment"></i></i></div>
                        <div class="col-4 float-left text-left"><input type="text" autocapitalize="none" placeholder="add comment" value="" class="form-control" name="query"></div>
                        <div class="col-5 float-left text-left"><i class=""></i></i></div>
                        <div class="col-1 float-right text-right"><i class="mr-3 fa fa-bookmark" ></i></div>
                    </div>  
                    <div class="col-4 float-left text-right post-number"><h4 style="font-size: 10px;">{{photo.pub_date|timesince}}</h4></div>
                    <div class="col-3 float-left text-right post-number"><h4>{{comment.name}}</h4></div>
                </div>
              
            </div>     
</div>
</div>
</div>
{%endfor%}



{% endblock content %}